<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miygo.msim.mapper.org.IOrgDeptMapper">
    <select id="queryDeptList" resultType="com.miygo.msim.entity.org.OrgDeptEntity">
        SELECT * FROM [SEC_Organization]
        <where>
            1 = 1
            <if test="orgId != null">
                AND [Id] = #{orgId}
            </if>
            <if test="deptName != null">
                AND [Name] LIKE concat('%', #{deptName}, '%')
            </if>
        </where>
    </select>
</mapper>